In [1]:
import src.SVM as svm
import src.utils as ut
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.utils import shuffle

import matplotlib.pyplot as plt

X, y, z = ut.readTrain('classification')

In [2]:
X.head()

,0,1,2,3,4,5,6,7,8
0,-0.888962,0.711473,-0.480023,0.748175,-0.981763,1.765482,-0.445018,1.719143,-1.096250
1,1.143802,-1.591273,0.670477,-0.948551,1.075740,-0.908309,-0.694223,-1.321391,0.662656
2,0.630938,-0.295533,1.379162,-0.041045,-0.250695,0.025003,0.143915,0.861455,0.879540
3,1.799449,-0.913254,1.245698,-1.410940,0.653328,-0.677108,-0.667490,-0.849795,0.497977
4,1.520453,-0.812539,0.500494,-1.559826,0.762770,-0.845992,-0.345746,-1.016599,0.869481

In [3]:
X_normalized = MinMaxScaler().fit_transform(X.values)
X = pd.DataFrame(X_normalized)
X.head()

,0,1,2,3,4,5,6,7,8
0,0.309430,0.594018,0.435119,0.664070,0.299151,0.851400,0.452019,0.870710,0.267611
1,0.757529,0.104053,0.628962,0.240382,0.797755,0.264758,0.407477,0.261039,0.623261
2,0.644474,0.379753,0.748365,0.466995,0.476314,0.469531,0.557282,0.698732,0.667114
3,0.902059,0.248318,0.725878,0.124919,0.695390,0.315485,0.412256,0.355601,0.589963
4,0.840557,0.269748,0.600322,0.087741,0.721911,0.278431,0.469762,0.322155,0.665080

In [4]:
X.insert(loc=len(X.columns), column='intercept', value=1)
X.head()

,0,1,2,3,4,5,6,7,8,intercept
0,0.309430,0.594018,0.435119,0.664070,0.299151,0.851400,0.452019,0.870710,0.267611,1
1,0.757529,0.104053,0.628962,0.240382,0.797755,0.264758,0.407477,0.261039,0.623261,1
2,0.644474,0.379753,0.748365,0.466995,0.476314,0.469531,0.557282,0.698732,0.667114,1
3,0.902059,0.248318,0.725878,0.124919,0.695390,0.315485,0.412256,0.355601,0.589963,1
4,0.840557,0.269748,0.600322,0.087741,0.721911,0.278431,0.469762,0.322155,0.665080,1

In [5]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.25, random_state=42)

In [6]:
max_epochs = 1000
weights = np.zeros(X_train.shape[1])
nth_epoch = 0
prev_cost = float("inf")
cost_threshold = 0.01
regularization_strength = 10000
learning_rate = 0.000001

def cost_gradient(x, y, w, reg):
    if type(y) == np.float64:
        y = np.array([y])
        x = np.array([x])
    
    distance = 1 - (y * np.dot(x, w))
    dw = np.zeros(len(w))

    for i, d in enumerate(distance):
        if d <= 0:
            di = w
        else:
            di = w - (reg * y[i] * x[i])
        dw += di/len(y)
    
    dw = dw
    return dw
    
def compute_cost(w, x, y):
    N = len(y)
    distance = 1 - (y * np.dot(x, w))
    hinge_loss = np.maximum(0, distance)
    cost = (1/N) * np.sum(hinge_loss) + (regularization_strength/2) * np.dot(w, w)

for epoch in range(max_epochs):
    X_train, y_train = shuffle(X_train, y_train)
    for i, x in enumerate(X_train):
        ascent = cost_gradient(x, y_train[i], weights, regularization_strength)
        weights = weights - (learning_rate * ascent)

    if epoch == 2**nth_epoch or epoch == max_epochs - 1:
        cost = compute_cost(weights, x, y) 
        print("Epoch: {} Cost: {}".format(epoch, cost))

        if abs(prev_cost - cost) < cost_threshold:
            print("Converged at epoch: {}".format(epoch))
            break
        prev_cost = cost
        nth_epoch += 1

weights

ValueError: operands could not be broadcast together with shapes (1192,) (10,)